.section-about {
    
    margin-top: 100px;
    margin-bottom: 150px;

    hr {
         margin-top: 2rem;
    }

    a {
        margin-top: 50px;
    }
}




@media only screen and (min-width: 768px) {
    .about-right {
         overflow-x: inherit;
    }

    .div-img {
        max-width: 365px;
        position: relative;
        margin-bottom: 40px;
        display: block;
        margin: 0 auto;

        &:after {
            border: 7px solid $accent;
            content: "";
            height: 100%;
            left: 50px;
            position: absolute;
            top: -45px;
            width: 100%;
            z-index: -1;
        }
    }

    .about-right {
        padding-left: 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1991px) {
    .div-img {
        &:after {
            left: 29px !important;
            top: -36px !important;
        }
    }
}