@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;1,300&family=Poppins:wght@300;400;500;600;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "Mulish", sans-serif;
  color: white;
  font-size: 1rem;
  background-color: $main;
}

section {
  &:before {
    display: block;
    content: " ";
    margin-top: -40px;
    height: 40px;
    visibility: hidden;
  }
}

.x-wrapper {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.text-work {
  font-family: "Poppins", sans-serif;
}

.text-black {
  color: $main;
}

.text-accent {
  color: $accent;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  padding: 14px 25px;
  width: 100%;
  font-family: "Mulish", sans-serif;

  &:focus {
    outline: none;
  }
}

.text-dark-accent {
  color: $dark-accent;
}

.title-wrapper {
  margin-top: 100px;
}
.section-title {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;

  &:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -14px;
    background-color: $accent;
  }

  &.white {
    &:after {
      background-color: #fff !important;
    }
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.header-title {
  font-size: 2.5rem;
  margin-top: 2rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  position: relative;
  font-weight: 800;

  span {
    position: absolute;
    z-index: 0;
    left: 0;
    font-size: 150px;
    color: transparent;
    -webkit-text-stroke: 1px $accent;
    font-weight: 900;
    opacity: 0.3;
    top: 50%;
    transform: translateY(-50%);
  }
}

.btn {
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid #fff;
  transition: all 350ms ease-in-out;

  &:hover {
    background-color: $accent;
    ition: all 350ms ease-in-otransut;
  }
}

.btn-custom {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: $accent;
  padding: 13px 50px;
  border: 1px solid $accent;
  transition: all 350ms ease-in-out;

  &:hover {
    background-color: $dark-accent;
  }
}

@media only screen and (min-width: 767px) {
  .section-title {
    font-size: 2.5rem;
  }
}
