.banner {
     background-color: $main;
     position: relative;
     z-index: 1;
     overflow-x: hidden;
     overflow-y: hidden;
     margin-top: 80px;

     h1 {
        font-size: 1.7rem;
        text-align: center;
        position: relative;
        z-index: 2;
        
    }
    p {
        text-align: center;
        position: relative;
        z-index: 2;
        margin-bottom: 1rem;
    }

    &:after {
        content: '';
        position: absolute;
        background: url(http://s14.directupload.net/images/111129/44ga9qid.png);
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 0;
    }
}



.banner .bg-vector {
     width: 350px;
     z-index: -1;
     display: block;
     margin: 0 auto;
     max-width: 100%;
     height: auto ;
}

.bg-user {
     position: absolute;
     max-width: 100%;
     bottom: 0;
     width: 250px;
     left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)

}

.section-project {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .project-box {
        width: 50%;
        height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.custom-shape-divider-top-1657157750 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1657157750 svg {
    position: relative;
    display: block;
    width: calc(170% + 1.3px);
    height: 211px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1657157750 .shape-fill {
    fill: #000;
}

.tools {
    display: flex;
    flex-wrap: wrap;

    > div {
        width: 100px;
        margin: 20px ;

        p {
            text-align: center;
        }

        img {
             max-width: 100%;
             height: auto;
             height: 100px;
        }
    }
}


.portfolio {

    h2 {
         font-size: 2rem;
    }

    .project-img {
        border: 1px solid $main;
        box-shadow: 20px 19px 0px 0px rgba(85,230,165,0.75);
        -webkit-box-shadow: 20px 19px 0px 0px rgba(85,230,165,0.75);
        -moz-box-shadow: 20px 19px 0px 0px rgba(85,230,165,0.75);
    }

    p {
         margin-bottom: 1rem;
    }

    .subtitle {
         font-size: 1.3rem;
    }
}

.use-tools {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;

    span {
        padding: 8px 15px;
        border: 1px solid grey;
        margin: 5px;
        color: grey;
    }
}


.service {
    img {
        width: 250px;
        height: 200px;
    }

    h2 {
         font-size: 1.2rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 990px)  {
    .bg-user {
        bottom: 27%;        
    }
}

@media only screen and (min-width: 767px) {

    .banner {
        height: 600px;
    }

   .row-banner {
      flex-direction: row-reverse;
   }

   .banner .bg-vector {
      width: 600px;
   }

   .banner h1 {
      font-size: 3rem;
      text-align: left;
   }
   
   .banner p {
     text-align: left;
   }

   .bg-images {
      height: 100%;
   }

   .bg-user {
     width: 550px;
   }

   .section-project .project-box  {
        width: 20%;
        transition: all 300ms;
        position: relative;

        &:nth-child(2) {
            width: 20%;
            height: 350px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;

       }

       &:after {
         content: '';
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         z-index: 1;
        }

        // &:hover {
        //     background-color: red;
        //     height: 380px;
        //     transition: all 300ms;

        // }
   }

   .service h2 {
        font-size: 1.4rem;
   }


}
