header {
	background: #000;

	width: 100%;
	box-shadow: rgba(50, 50, 93, 0.8) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.8) 0px 30px 60px -30px;
	padding: 1.5em 2em 1.5em;
}
.navbar {
	width: 100%;
	margin-inline: auto;
	display: flex;
	/* position: relative; */
	justify-content: space-between;
	align-items: center;
}
.logo {
	font-weight: bold;
	font-size: 1.25rem;
}
nav ul {
	list-style: none;
	display: flex;
	gap: 1.5rem;
	font-size: 1rem;
}
a {
	color: inherit;
	text-decoration: none;
	width: 100%;
	height: 100%;
}
nav ul li {
	border-bottom: 2px solid transparent;
	transition: all 200ms ease;
	cursor: pointer;
  transition: all 500ms;
}
nav ul li:hover { 
	border-bottom: 2px solid white;
  font-size: 1.2rem;

}
#burger {
	display: none;
}

@media (max-width: 768px) {
	#burger {
		box-sizing: initial;
		display: block;
		width: 1rem;
		color: white;
		cursor: pointer;
		margin-bottom: 0.5em;
	}
	#burger:focus {
		border: none;
		outline: none;
	}
	nav {
		position: absolute;
		right: 0;
        z-index: 9999;
		/* top: 3em; */
        top: 64px;
        background: #000;
            /* min-width: 15em; */
        width: 100%;
        height: 100vh;
		padding: 2em;
		box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
		clip-path: circle(0% at 100% 0);
		transition: all 500ms ease-in-out;
	}
	nav.show {
		clip-path: circle(200% at 100% 0);
		transition-duration: 500ms;
	}
	nav ul {
		flex-direction: column;
    height: 100%;
    align-items: center;
    margin-top: 101px;
    font-size: 1.5rem;

	}
}

/* footer start */

footer {
	background-color: #080808;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5em 1em;
	margin-top: auto;
}

footer .social-links > * {
	margin-right: 1em;
	font-size: 1.2rem;
}
footer .social-links a {
	transition: color 300ms ease-in-out;
}
footer .social-links a:hover {
	color: #fb923c;
}
footer p a {
	position: relative;
	z-index: 2;
	transition: color 300ms ease-in-out;
}
footer p a:hover {
	color: #fb923c;
}
footer p a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	z-index: 0;
	opacity: 70%;
	background-color: #fb923c;
}

@media screen and (max-width: 768px) {
	footer .container {
		flex-direction: column;
	}
	footer .container p {
		margin-block: 0.3em;
	}
}

/* footer end */
